*.log
*.orig
*.swp
blog.db
capybara*
coverage/
.env
provisioning/vars/defaults.yml
.vagrant*
config/deploy/production.rb
ansible-production
provisioning/roles/webserver/templates/data_site_shared_config_env.j2
