%form{action: url, method: "post", name: "edit"}
  %fieldset
    %legend
      New post on date:
      %input{name: 'date', type: 'date', value: (post.created_at || Time.now).strftime('%Y-%m-%d'), placeholder: ''}

    .label Title
    %input{name: "title", type: "text", value: post.title, placeholder: 'Post title...'}

    .label Tags
    %input{name: "tags", type: "text", value: post.tags, placeholder: 'Tags space separated'}

    .label Post body
    %textarea{name: "body"}= post.body

    %input.button{type: "submit", value: "Save"}
