- posts.each do |post|
  = haml :post_summary, layout: false, locals: { post: post }

- if posts.empty?
  %h2/
  %p Looks like this is a fresh install of Scanty.
  %p
    %a{:href => "/auth"}> Log in
    , then
    = succeed "." do
      %a{:href => "/posts/new"} create a post
