- posts.each do |post|
  = haml :post_summary, layout: false, locals: { post: post }

- if posts.empty?
  %h2/
  %p Looks like this is a fresh install of Scanty.
  %p
    %a{:href => "/auth"}> Log in
    , then
    = succeed "." do
      %a{:href => "/posts/new"} create a post

- else
  #older_posts
    %a{:href => "/past"} Archive

- if admin?
  #new_post
    %a{:href => "/posts/new"}New post

- if Blog.disqus_shortname
  :javascript
    (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
        if(links[i].href.indexOf('#disqus_thread') >= 0) {
          query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
        }
      }
      document.write('<script type="text/javascript" src="http://disqus.com/forums/#{Blog.disqus_shortname}/get_num_replies.js' + query + '"></' + 'script>');
      })();
