.post
  %h2
    %a{href: post.url}
      %em
        = post[:created_at].strftime '%Y-%m-%d'
        \:
      = post[:title]
  %p
    = post.summary_html
    - if post.more?
      %a{href: post.url} Continue reading &raquo;
