## webapp
webserver_name: emmanueldelgado.me
deploy_directory: /data/site
app_name: emmanueldelgado.me

## stolen from https://github.com/jgrowl/ansible-playbook-ruby-from-src
rubyTmpDir: /usr/local/src
rubyUrl: http://cache.ruby-lang.org/pub/ruby/ruby-1.9.3-p545.tar.gz
rubyCompressedFile: ruby-1.9.3-p545.tar.gz
rubyName: ruby-1.9.3-p545
tmpRubyPath: "{{rubyTmpDir}}/{{rubyName}}"

## deploy
#deploy_public_key: your public deployment key path to be used by capistrano

