%ul
  %li
    %a{href: 'http://blog.crowdint.com/author/7-emmanuel-delgado'} my blog entries at Crowd Interactive
  %li
    %a{href: 'http://github.com/chischaschos'} github
  %li
    %a{href: 'https://gist.github.com/chischaschos'} github gists
  %li
    %a{href: 'http://www.linkedin.com/in/emmanueldelgado'} linkedin
  %li
    %a{href: 'http://www.codewars.com/users/chischaschos'} codewars
  %li
    %a{href: 'https://twitter.com/chischaschos'} twitter
  %li
    %a{href: 'http://github.com/chischaschos/scanty'} this site code
