%form{action: "/auth", method: "post"}
  %fieldset
    %legend Admin log in

    .label Password
    %input{name: "password", type: "password"}

    %input.button{type: "submit", value: "Login"}

:javascript
  document.forms[0].password.focus()
